﻿@model IEnumerable<FinalPropietariaService.Models.estudiante>

@{
    ViewBag.Title = "Detalle de busqueda";
}
<h2>Página Detalle</h2>


<div class="row">

    @if (Model.Count() > 1)
    {
        <div class="col-sm-12">

            <table class="table table-bordered">
                <thead>
                <th colspan="3">Estudiantes</th>

                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>Nombres: @item.nombres </td>
                            <td>Carrera: @item.carrera.carrera1</td>

                            <td>
                                <table class="table table-bordered">
                                    Plan de Estudio
                                    @foreach (var item2 in item.carrera.plandeestudios.OrderBy(y => y.fecha))
                                    {
                                        <tr>
                                            <td>@item2.fecha.ToString("dd/MM/yyyy")</td>
                                        </tr>
                                    }

                                </table>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>

        </div>

    }
    else if (Model.Count() == 1)
    {
        <div class="col-sm-12">
            <div>
                <h4>Información del Estudiante</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        Nombre
                    </dt>

                    <dd>
                        @Model.FirstOrDefault().nombres
                    </dd>

                    <dt>
                        Carrera
                    </dt>

                    <dd>
                        @Model.FirstOrDefault().carrera.carrera1
                    </dd>
                    <dt>
                        Matricula
                    </dt>

                    <dd>
                        @Model.FirstOrDefault().matricula
                    </dd>

                    <dt>
                        Plan de estudios
                    </dt>

                    <dd>
                        <table class="table table-bordered">
                            @foreach (var item2 in Model.FirstOrDefault().carrera.plandeestudios.OrderBy(y => y.fecha))
                            {
                                <tr>
                                    <td>@item2.fecha.ToString("dd/MM/yyyy")</td>
                                </tr>
                            }

                        </table>
                    </dd>


                </dl>
            </div>
        </div>
    }
    else {

        <div class="jumbotron text-center">
            Este estudiante no existe en la base de datos
        </div>
    }
</div>






