﻿@model IEnumerable<FinalPropietariaService.Models.estudiante>  
@{
    ViewBag.Title = "Index";
}

<h2>Estudiantes, su carrera, plan de estudios</h2>


<div class="row">
    <div class="col-sm-12">
        <div class="row form-inline">
            <fieldset style="margin:15px">
                <div class="col-md-12">
                    <label for="date">Buscar estudiante por Matrícula</label>
                </div>
                <div class="form-group">
                    <input type="text"
                           class="form-control"
                           placeholder="Digite matricula"
                           id="matricula" name="matricula">
                </div>

                <button class="btn btn-success"  onclick="onBuscarClicked()">Buscar</button>
            </fieldset>
        </div>

    </div>
    <div class="col-sm-12">

        <table class="table table-bordered">
            <thead>
            <th colspan="3">Estudiantes</th>

            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>Nombres: @item.nombres </td>
                    <td>Carrera: @item.carrera.carrera1</td>
                    <td>Matricula: @item.matricula</td>

                    <td>
                        <table class="table table-bordered">
                            Plan de Estudio
                            @foreach (var item2 in item.carrera.plandeestudios.OrderBy(y => y.fecha))
                            {
                                <tr>
                                    <td>@item2.fecha.ToString("dd/MM/yyyy")</td>
                                </tr>
                            }

                        </table>
                    </td>
                </tr>

                }

                @*<tr>
                    <td>this is </td>
                    <td>This is row one, column 2</td>

                    <td>
                        <table class="table table-bordered">
                            <th colspan="3">Inner Table</th>
                            <tr>
                                <td>This is row one, column 1</td>
                                <td>This is row one, column 2</td>
                                <td>This is row one, column 3</td>
                            </tr>
                        </table>
                    </td>
                </tr>*@

            </tbody>
        </table>

    </div>
</div>

@section scripts
{
    <script>

        function onBuscarClicked() {
            var matricula = document.getElementById("matricula").value

            window.location.href = "/EstudianteCarreaPlan/Details/" + matricula



        }


    </script>

}




