﻿@model FinalPropietariaService.Models.medico

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>medico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.medicos_tipos.tipodemedico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.medicos_tipos.tipodemedico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ingreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ingreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trabaja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trabaja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idcondicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idcondicion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
