﻿@model FinalPropietariaService.Models.medico

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>medico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.medicos_tipos.tipodemedico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.medicos_tipos.tipodemedico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ingreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ingreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trabaja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trabaja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idcondicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idcondicion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idmedico }) |
    @Html.ActionLink("Back to List", "Index")
</p>
