﻿@model IEnumerable<FinalPropietariaService.Models.medico>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.medicos_tipos.tipodemedico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.identificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trabaja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idcondicion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.medicos_tipos.tipodemedico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.identificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ingreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trabaja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idcondicion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idmedico }) |
            @Html.ActionLink("Details", "Details", new { id=item.idmedico }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idmedico })
        </td>
    </tr>
}

</table>
