﻿@model IEnumerable<FinalPropietariaService.Models.estudiante>
@{
    ViewBag.Title = "Index";
}


<h2>Estudiantes, sus direcciones, y teléfonos.</h2>



<table class="table table-bordered">
    <thead>
    <th colspan="3">Estudiantes</th>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>Nombres: @item.nombres </td>
            <td>
                <table class="table table-bordered">
                    Direcciones
                    <thead>
                    <th>Tipo Direccion</th>
                    <th>Pais</th>

                    <th>Sector</th>
                    <th>Ciudad</th>

                    <th>Calle</th>
                    <th>Código Postal</th>
                    </thead>
                    <tbody></tbody>
                    @foreach (var item2 in item.estudiantes_direcciones)
                    {
                    <tr>
                        <td>@item2.tipodedireccion.tipodedireccion1</td>
                        <td>@item2.pais.pais1</td>
                        <td>@item2.sectore.sector</td>
                        <td>@item2.ciudade.ciudad</td>
                        <td>@item2.calle</td>
                        <td>@item2.codigopostal</td>
                    </tr>
                    }

                </table>
            </td>
            <td>
                <table class="table table-bordered">
                    Telefonos
                    <thead>
                    <th>Tipo Teléfono</th>
                    <th>Teléfono</th>
                    </thead>
                    <tbody></tbody>
                    @foreach (var item2 in item.estudiantes_telefonos)
                    {
                        <tr>
                            <td>@item2.tipodetelefono.tipodetelefono1</td>
                            <td>@item2.telefono</td>
                        </tr>
                    }

                </table>
            </td>

        </tr>

        }

        @*<tr>
                <td>this is </td>
                <td>This is row one, column 2</td>

                <td>
                    <table class="table table-bordered">
                        <th colspan="3">Inner Table</th>
                        <tr>
                            <td>This is row one, column 1</td>
                            <td>This is row one, column 2</td>
                            <td>This is row one, column 3</td>
                        </tr>
                    </table>
                </td>
            </tr>*@

    </tbody>
</table>
