﻿@model FinalPropietariaService.Models.ciudade

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ciudade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ciudad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idciudad }) |
    @Html.ActionLink("Back to List", "Index")
</p>
