﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding-top:0">
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Estudiante", "Index", "estudiantes")</li>
                    <li>@Html.ActionLink("Carreras", "Index", "carreras")</li>
                    <li>@Html.ActionLink("Ciudades", "Index", "ciudades")</li>
                    <li>@Html.ActionLink("Condiciones", "Index", "condiciones")</li>
                    <li>@Html.ActionLink("Calificaciones", "Index", "estudiantes_calificaciones")</li>
                    <li>@Html.ActionLink("Consulta Salud ", "Index", "estudiantes_consultassalud")</li>
                    <li>@Html.ActionLink("Datos de Salud", "Index", "estudiantes_datosdesalud")</li>
                    <li>@Html.ActionLink("Direcciones", "Index", "estudiantes_direcciones")</li>
                    <li>@Html.ActionLink("Telefonos", "Index", "estudiantes_telefonos")</li>
                    <li>@Html.ActionLink("Tipo Estudiantes", "Index", "estudiantes_tipos")</li>
                    <li>@Html.ActionLink("Materias", "Index", "materias")</li>
                    <li>@Html.ActionLink("Medicos", "Index", "medicos")</li>
                    <li>@Html.ActionLink("Tipo Medicos", "Index", "medicos_tipos")</li>
                    <li>@Html.ActionLink("Plan de estudio", "Index", "plandeestudios")</li>
                    <li>@Html.ActionLink("Profesores", "Index", "profesores")</li>

                    <li>@Html.ActionLink("Tipo Profesores", "Index", "profesores_tipos")</li>
                    <li>@Html.ActionLink("Sectores", "Index", "sectores")</li>
                    <li>@Html.ActionLink("Tipo Direcciones", "Index", "tipodedireccions")</li>
                    <li>@Html.ActionLink("Tipo Telefonos", "Index", "tipodetelefonoes")</li>
                    <li>@Html.ActionLink("Estados", "Index", "estadoes")</li>
                    <li>@Html.ActionLink("Paises", "Index", "pais")</li>




                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
