﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenidos</h1>
    <p class="lead">Al sistema estudiantil de consultas.</p>
</div>

<div class="row">

    <div class="col-md-12">
        <h2>Consultas</h2>
        <div class="list-group">
            <a  href="/EstudianteCarreaPlan/Index" class="list-group-item">1 o varios estudiantes, su carrera, plan de estudios.</a>
            <a href="/EstudianteSaludConsulta/Index" class="list-group-item">1 o varios estudiantes, condición de salud, consultas, médico que le consultó, diagnostico de cada consulta.</a>
            <a href="/ProfesoresNombreTipoMaterias/Index" class="list-group-item">
                1 o varios profesores, nombre, tipo, materias que esta dando.
            </a>
            <a href="/EstudianteMatriculaCalificaciones/Index" class="list-group-item">Estudiantes, materias y sus calificaciones.</a>
            <a href="/EstudiantesDireccionesTelefonos/Index" class="list-group-item">Estudiantes, sus direcciones, y teléfonos.</a>

            

        </div>
    </div>

</div>