﻿@model IEnumerable<FinalPropietariaService.Models.estudiante>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.carrera.carrera1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.condicione.condicion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estudiantes_tipos.tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.plandeestudio.idplan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.identificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trabaja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.indice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.carrera.carrera1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.condicione.condicion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estudiantes_tipos.tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.plandeestudio.idplan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.identificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ingreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trabaja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.indice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.matricula }) |
            @Html.ActionLink("Details", "Details", new { id=item.matricula }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.matricula })
        </td>
    </tr>
}

</table>
