﻿@model FinalPropietariaService.Models.estudiantes_direcciones

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>estudiantes_direcciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ciudade.ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ciudade.ciudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estudiante.identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estudiante.identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pais.pais1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pais.pais1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sectore.sector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sectore.sector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipodedireccion.tipodedireccion1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipodedireccion.tipodedireccion1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.calle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codigopostal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigopostal)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
