﻿@model IEnumerable<FinalPropietariaService.Models.estudiantes_direcciones>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ciudade.ciudad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estudiante.identificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pais.pais1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sectore.sector)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipodedireccion.tipodedireccion1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.calle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codigopostal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ciudade.ciudad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estudiante.identificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pais.pais1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sectore.sector)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipodedireccion.tipodedireccion1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.calle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codigopostal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.iddireccion }) |
            @Html.ActionLink("Details", "Details", new { id=item.iddireccion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.iddireccion })
        </td>
    </tr>
}

</table>
