﻿@model FinalPropietariaService.Models.profesore

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>profesore</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.condicione.condicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.condicione.condicion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.profesores_tipos.tipodeprofesor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profesores_tipos.tipodeprofesor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ingreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ingreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trabaja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trabaja)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idprofesor }) |
    @Html.ActionLink("Back to List", "Index")
</p>
