﻿@model IEnumerable<FinalPropietariaService.Models.estudiante>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>




<h2>Detalle de Estudiante, condición de salud, consultas, médico que le consultó, diagnostico de cada consulta.</h2>


<div class="row">




    @if (Model.Count() > 1)
    {
        <div class="col-sm-12">
            <table class="table table-bordered">
                <thead>
                <th colspan="3">Estudiantes</th>

                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>Nombres: @item.nombres </td>
                            <td>
                                Condición:
                                @if (!string.IsNullOrEmpty(item.estudiantes_datosdesalud.FirstOrDefault()?.padecimientos))
                                {
                                    <span>@item.estudiantes_datosdesalud.FirstOrDefault().padecimientos</span>
                                }
                                else
                                {
                                    <span> No tiene</span>
                                }


                            </td>

                            <td>
                                <table class="table table-bordered">
                                    <thead>
                                    <th>Medico</th>
                                    <th>Diagnostico</th>
                                    <th>Fecha</th>
                                    </thead>
                                    <tbody></tbody>
                                    @foreach (var item2 in item.estudiantes_consultassalud.OrderBy(y => y.fecha))
                                    {
                                        <tr>
                                            <td>@item2.medico.nombres</td>
                                            <td>@item2.diagnostico</td>
                                            <td>@item2.fecha.ToString("dd/MM/yyyy")</td>
                                        </tr>
                                    }

                                </table>
                            </td>
                        </tr>

                    }

                    @*<tr>
                            <td>this is </td>
                            <td>This is row one, column 2</td>

                            <td>
                                <table class="table table-bordered">
                                    <th colspan="3">Inner Table</th>
                                    <tr>
                                        <td>This is row one, column 1</td>
                                        <td>This is row one, column 2</td>
                                        <td>This is row one, column 3</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>*@

                </tbody>
            </table>

        </div>


    }
    else if (Model.Count() == 1)
    {

        <div class="col-sm-12">
            <div>
                <h4>Información del Estudiante</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        Nombre
                    </dt>

                    <dd>
                        @Model.FirstOrDefault().nombres
                    </dd>

                    <dt>
                        Carrera
                    </dt>

                    <dd>
                        @if (!string.IsNullOrEmpty(Model.FirstOrDefault().estudiantes_datosdesalud.FirstOrDefault()?.padecimientos))
                        {
                            <span>@Model.FirstOrDefault().estudiantes_datosdesalud.FirstOrDefault().padecimientos</span>
                        }
                        else
                        {
                            <span> No tiene</span>
                        }
                    </dd>
                    <dt>
                        Matricula
                    </dt>

                    <dd>
                        @Model.FirstOrDefault().matricula
                    </dd>

                    <dt>
                        Consultas medicas
                    </dt>

                    <dd>
                        <table class="table table-bordered">
                            <thead>
                            <th>Medico</th>
                            <th>Diagnostico</th>
                            <th>Fecha</th>
                            </thead>
                            <tbody></tbody>
                            @foreach (var item2 in Model.FirstOrDefault().estudiantes_consultassalud.OrderBy(y => y.fecha))
                            {
                                <tr>
                                    <td>@item2.medico.nombres</td>
                                    <td>@item2.diagnostico</td>
                                    <td>@item2.fecha.ToString("dd/MM/yyyy")</td>
                                </tr>
                            }

                        </table>

                    </dd>


                </dl>
            </div>

        </div>

    }
    else
    {

        <div class="jumbotron text-center">
            Este estudiante no existe en la base de datos
        </div>

    }

</div>


