﻿@model IEnumerable<FinalPropietariaService.Models.estudiante>
@{
    ViewBag.Title = "Index";
}


<h2>Estudiantes, condición de salud, consultas, médico que le consultó, diagnostico de cada consulta.</h2>

<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-12">
            <div class="row form-inline">
                <fieldset style="margin:15px">
                    <div class="col-md-12">
                        <label for="date">Buscar estudiante por Matrícula</label>
                    </div>
                    <div class="form-group">
                        <input type="text"
                               class="form-control"
                               placeholder="Digite matricula"
                               id="matricula" name="matricula">
                    </div>

                    <button class="btn btn-success" onclick="onBuscarClicked()">Buscar</button>
                </fieldset>
            </div>

        </div>
    </div>
    <div class="col-sm-12">
        <table class="table table-bordered">
            <thead>
            <th colspan="3">Estudiantes</th>

            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>Nombres: @item.nombres </td>
                    <td>Matricula: @item.matricula </td>
                    <td>
                        Condición:
                        @if (!string.IsNullOrEmpty(item.estudiantes_datosdesalud.FirstOrDefault()?.padecimientos))
                        {
                            <span>@item.estudiantes_datosdesalud.FirstOrDefault().padecimientos</span>
                        }
                        else
                        {
                            <span> No tiene</span>
                        }


                    </td>

                    <td>
                        <table class="table table-bordered">
                            <thead>
                            <th>Medico</th>
                            <th>Diagnostico</th>
                            <th>Fecha</th>
                            </thead>
                            <tbody></tbody>
                            @foreach (var item2 in item.estudiantes_consultassalud.OrderBy(y => y.fecha))
                            {
                                <tr>
                                    <td>@item2.medico.nombres</td>
                                    <td>@item2.diagnostico</td>
                                    <td>@item2.fecha.ToString("dd/MM/yyyy")</td>
                                </tr>
                            }

                        </table>
                    </td>
                </tr>

                }

                @*<tr>
                    <td>this is </td>
                    <td>This is row one, column 2</td>

                    <td>
                        <table class="table table-bordered">
                            <th colspan="3">Inner Table</th>
                            <tr>
                                <td>This is row one, column 1</td>
                                <td>This is row one, column 2</td>
                                <td>This is row one, column 3</td>
                            </tr>
                        </table>
                    </td>
                </tr>*@

            </tbody>
        </table>

    </div>
</div>


@section scripts
{
    <script>

        function onBuscarClicked() {
            var matricula = document.getElementById("matricula").value

            window.location.href = "/EstudianteSaludConsulta/Details/" + matricula



        }


    </script>

}
