﻿@model FinalPropietariaService.Models.estudiantes_datosdesalud

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>estudiantes_datosdesalud</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.estudiante.identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estudiante.identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.encasoemergencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.encasoemergencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tiposangre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tiposangre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alergias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alergias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.padecimientos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.padecimientos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tratamientos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tratamientos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombremedico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombremedico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefonomedico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefonomedico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.centromedico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.centromedico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefonocentromedico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefonocentromedico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.extension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.extension)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seguromedico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seguromedico)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
