﻿@model FinalPropietariaService.Models.estudiantes_datosdesalud

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>estudiantes_datosdesalud</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.estudiante.identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estudiante.identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.encasoemergencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.encasoemergencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tiposangre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tiposangre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alergias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alergias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.padecimientos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.padecimientos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tratamientos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tratamientos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombremedico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombremedico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefonomedico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefonomedico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.centromedico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.centromedico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefonocentromedico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefonocentromedico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.extension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.extension)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seguromedico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seguromedico)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.iddatossalud }) |
    @Html.ActionLink("Back to List", "Index")
</p>
