﻿@model IEnumerable<FinalPropietariaService.Models.estudiantes_datosdesalud>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.estudiante.identificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.encasoemergencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tiposangre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alergias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.padecimientos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tratamientos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombremedico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefonomedico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.centromedico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefonocentromedico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.extension)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.seguromedico)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.estudiante.identificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.encasoemergencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tiposangre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alergias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.padecimientos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tratamientos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombremedico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefonomedico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.centromedico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefonocentromedico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.extension)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.seguromedico)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.iddatossalud }) |
            @Html.ActionLink("Details", "Details", new { id=item.iddatossalud }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.iddatossalud })
        </td>
    </tr>
}

</table>
