﻿@model FinalPropietariaService.Models.estudiantes_calificaciones

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>estudiantes_calificaciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.carrera.carrera1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carrera.carrera1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado.estado1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado.estado1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estudiante.identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estudiante.identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.materia.materia1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.materia.materia1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.plandeestudio.idplan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plandeestudio.idplan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.profesore.identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profesore.identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.grupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grupo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cursada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cursada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notaparcial_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notaparcial_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notaparcial_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notaparcial_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notafinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notafinal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idregistro }) |
    @Html.ActionLink("Back to List", "Index")
</p>
