﻿@model IEnumerable<FinalPropietariaService.Models.estudiantes_calificaciones>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.carrera.carrera1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado.estado1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estudiante.identificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.materia.materia1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.plandeestudio.idplan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.profesore.identificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grupo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cursada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.notaparcial_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.notaparcial_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.notafinal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.carrera.carrera1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado.estado1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estudiante.identificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.materia.materia1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.plandeestudio.idplan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.profesore.identificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grupo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cursada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.notaparcial_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.notaparcial_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.notafinal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idregistro }) |
            @Html.ActionLink("Details", "Details", new { id=item.idregistro }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idregistro })
        </td>
    </tr>
}

</table>
