﻿@model FinalPropietariaService.Models.estudiantes_telefonos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>estudiantes_telefonos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.estudiante.identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estudiante.identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipodetelefono.tipodetelefono1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipodetelefono.tipodetelefono1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codigodearea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigodearea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codigodepais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigodepais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idtelefono }) |
    @Html.ActionLink("Back to List", "Index")
</p>
