﻿@model IEnumerable<FinalPropietariaService.Models.estudiantes_telefonos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.estudiante.identificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipodetelefono.tipodetelefono1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codigodearea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codigodepais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.estudiante.identificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipodetelefono.tipodetelefono1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codigodearea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codigodepais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idtelefono }) |
            @Html.ActionLink("Details", "Details", new { id=item.idtelefono }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idtelefono })
        </td>
    </tr>
}

</table>
