﻿@model FinalPropietariaService.Models.plandeestudio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>plandeestudio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.carrera.carrera1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carrera.carrera1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idestado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idestado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idplan }) |
    @Html.ActionLink("Back to List", "Index")
</p>
