﻿@model IEnumerable<FinalPropietariaService.Models.plandeestudio>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.carrera.carrera1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idestado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.carrera.carrera1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idestado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idplan }) |
            @Html.ActionLink("Details", "Details", new { id=item.idplan }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idplan })
        </td>
    </tr>
}

</table>
