﻿@model FinalPropietariaService.Models.materia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>materia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.carrera.carrera1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carrera.carrera1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado.estado1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado.estado1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.plandeestudio.idplan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plandeestudio.idplan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.materia1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.materia1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.revisada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.revisada)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idmateria }) |
    @Html.ActionLink("Back to List", "Index")
</p>
