﻿@model IEnumerable<FinalPropietariaService.Models.materia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.carrera.carrera1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado.estado1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.plandeestudio.idplan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.materia1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.revisada)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.carrera.carrera1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado.estado1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.plandeestudio.idplan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.materia1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.revisada)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idmateria }) |
            @Html.ActionLink("Details", "Details", new { id=item.idmateria }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idmateria })
        </td>
    </tr>
}

</table>
