﻿@model FinalPropietariaService.Models.condicione

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>condicione</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.condicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.condicion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.esprofesor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.esprofesor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idcondicion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
