﻿@model IEnumerable<FinalPropietariaService.Models.condicione>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.condicion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.esprofesor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.condicion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.esprofesor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idcondicion }) |
            @Html.ActionLink("Details", "Details", new { id=item.idcondicion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idcondicion })
        </td>
    </tr>
}

</table>
