﻿@model IEnumerable<FinalPropietariaService.Models.estudiante>
@{
    ViewBag.Title = "Index";
}

<h2>Estudiantes, materias y sus calificaciones.</h2>

<table class="table table-bordered">
    <thead>
    <th colspan="3">Estudiantes</th>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>Nombres: @item.nombres </td>

                <td>
                    <table class="table table-bordered">
                        Materias y Calificaciones
                        <thead>
                        <th>Materia</th>
                        <th>Primera Calificación</th>
                        <th>Segunda Calificación</th>
                        <th>Calificación Final</th>
                        </thead>
                        <tbody></tbody>
                        @foreach (var item2 in item.estudiantes_calificaciones)
                        {
                        <tr>
                            <td>@item2.materia.materia1</td>
                            <td>@item2.notaparcial_1</td>
                            <td>@item2.notaparcial_2</td>
                            <td>@item2.notafinal</td>
                        </tr>
                        }

                    </table>

                </td>
            </tr>

        }

        @*<tr>
                <td>this is </td>
                <td>This is row one, column 2</td>

                <td>
                    <table class="table table-bordered">
                        <th colspan="3">Inner Table</th>
                        <tr>
                            <td>This is row one, column 1</td>
                            <td>This is row one, column 2</td>
                            <td>This is row one, column 3</td>
                        </tr>
                    </table>
                </td>
            </tr>*@

    </tbody>
</table>



