﻿@model FinalPropietariaService.Models.estudiantes_consultassalud

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>estudiantes_consultassalud</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.estudiante.identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estudiante.identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.medico.identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.medico.identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iddiagnostico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iddiagnostico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diagnostico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diagnostico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idsalud }) |
    @Html.ActionLink("Back to List", "Index")
</p>
