﻿@model IEnumerable<FinalPropietariaService.Models.estudiantes_consultassalud>

@{
    ViewBag.Title = "Estudiantes Consultas";
}

<h2>Consultas medicas estudiantes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Identificacion Estudiante
        </th>
        <th>
            Identificacion Medico
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iddiagnostico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diagnostico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.estudiante.identificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.medico.identificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iddiagnostico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diagnostico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idsalud }) |
            @Html.ActionLink("Details", "Details", new { id=item.idsalud }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idsalud })
        </td>
    </tr>
}

</table>
