﻿
@model IEnumerable<FinalPropietariaService.Models.profesore>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>




<h2>Profesores, nombre, tipo, materias que esta dando.</h2>


<div class="row">


    @if (Model.Count() > 1)
    {
        <div class="col-sm-12">
            <table class="table table-bordered">
                <thead>
                <th colspan="3">Profesores</th>

                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>Nombres: @item.nombres </td>
                            <td>Identificacion: @item.identificacion     </td>
                            <td>
                                Tipo Profesor: @item.profesores_tipos.tipodeprofesor


                            </td>

                            <td>
                                Materias que esta dando
                                <table class="table table-bordered">
                                    <thead>
                                    <th>Nombre</th>
                                    <th>Estado</th>
                                    </thead>
                                    <tbody></tbody>
                                    @foreach (var item2 in item.estudiantes_calificaciones)
                                    {
                                        <tr>
                                            <td>@item2.materia.materia1</td>
                                            <td>@item2.estado.estado1</td>
                                        </tr>
                                    }

                                </table>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>


    }
    else if (Model.Count() == 1)
    {

        <div class="col-sm-12">
            <div>
                <h4>Información del Profesor</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        Nombre
                    </dt>

                    <dd>
                        @Model.FirstOrDefault().nombres
                    </dd>

                    <dt>
                        Identificación
                    </dt>

                    <dd>

                        @Model.FirstOrDefault().identificacion
                    </dd>
                    <dt>
                        Tipo Profesor
                    </dt>

                    <dd>
                        @Model.FirstOrDefault().profesores_tipos.tipodeprofesor
                    </dd>

                    <dt>
                        Materias que esta dando
                    </dt>

                    <dd>
                        Materias que esta dando
                        <table class="table table-bordered">
                            <thead>
                            <th>Nombre</th>
                            <th>Estado</th>
                            </thead>
                            <tbody></tbody>
                            @foreach (var item2 in Model.FirstOrDefault().estudiantes_calificaciones)
                            {
                                <tr>
                                    <td>@item2.materia.materia1</td>
                                    <td>@item2.estado.estado1</td>
                                </tr>
                            }

                        </table>

                    </dd>


                </dl>
            </div>

        </div>

    }
    else
    {

        <div class="jumbotron text-center">
            Este Profesor no existe en la base de datos
        </div>

    }

</div>


