﻿@model IEnumerable<FinalPropietariaService.Models.profesore>

@{
    ViewBag.Title = "Index";
}

<h2>Profesores, nombre, tipo, materias que esta dando.</h2>


<div class="row">
    <div class="cols-m-12">
        <div class="col-sm-12">
            <div class="row form-inline">
                <fieldset style="margin:15px">
                    <div class="col-md-12">
                        <label for="date">Buscar estudiante por Matrícula</label>
                    </div>
                    <div class="form-group">
                        <input type="text"
                               class="form-control"
                               placeholder="Digite matricula"
                               id="matricula" name="matricula">
                    </div>

                    <button class="btn btn-success" onclick="onBuscarClicked()">Buscar</button>
                </fieldset>
            </div>

        </div>

    </div>
    <div class="cols-m-12">
        <table class="table table-bordered">
            <thead>
            <th colspan="3">Profesores</th>

            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>Nombres: @item.nombres </td>
                        <td>Identificacion: @item.identificacion     </td>
                        <td>
                            Tipo Profesor: @item.profesores_tipos.tipodeprofesor


                        </td>

                        <td>
                            Materias que esta dando
                            <table class="table table-bordered">
                                <thead>
                                <th>Nombre</th>
                                <th>Estado</th>
                                </thead>
                                <tbody></tbody>
                                @foreach (var item2 in item.estudiantes_calificaciones)
                                {
                                    <tr>
                                        <td>@item2.materia.materia1</td>
                                        <td>@item2.estado.estado1</td>
                                    </tr>
                                }

                            </table>
                        </td>
                    </tr>

                }
            </tbody>
        </table>

    </div>
</div>


@section scripts
{
    <script>

        function onBuscarClicked() {
            var matricula = document.getElementById("matricula").value

            window.location.href = "/ProfesoresNombreTipoMaterias/Details/" + matricula



        }


    </script>

}


